* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: rgb(196, 229, 240);
}
.main {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
/*headere section*/
.header {
    line-height: 1.1;
    text-align: center;
    background-color: aliceblue;
    padding-top: 30px;
    border-radius: 40px;

}
.top{
flex: none;

}


/*navabar*/
.navabar h1 {
    flex-grow: 1;
    font-size: 25px;

}
ul li:hover{ color: red;}
.navabar{
    background-color: royalblue;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Header Section*/

.header h1 {
    margin-bottom: 40px;
    font-size: 2px;

}
.header h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
.logo {
    color: red;
}
.header p {
    font-size: 20px;
    width: 80%;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
}
.header img {
    background-color: rgb(168, 36, 43);
    border-radius: 50%;
    padding: 10px;
    border: 6px solid black;

}



.payments ul{
    list-style: none;
    align: center;
}